



body{
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100%; /* Assure que le body prend toute la hauteur */
    background-image: url('/img/foret-neige.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    
}

html {
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que html prend toute la hauteur */
}
h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#sapinContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

p{
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}

#sapinDiv{
    display: flex;
     gap: 10px;
    text-align: center;
    /* width: 400px; */
    height: auto;
    max-width: 100%; /* Limite la largeur au conteneur parent */
    overflow: hidden;
}


.bleu{
    color: #00f;
}
.vert{
    color: #0f0;
}
.rouge{
    color: #f00;
}
.jaune{
    color: #ff0;
}